*{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    margin-top: 90px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;


}
.cards{
    width: 270px;
    padding: 20px;
    display: grid;
    place-items: center;
}
.cards:hover{
    box-shadow: 0 5px 5px 5px rgb(216, 216, 216);
    cursor: pointer;
}
.image_box img{
    width: 240px;
}
.details p:nth-child(1){
    font-weight: bold;
    font-size: 20px;
}
.details p:nth-child(2){
    color: rgb(141, 141, 141);
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    color: #517e4d;
    font-size: 30px;
}
.details button{
    padding: 5px 20px;
    border: none;
    font-weight: bold;
    background-color: #080808;
    outline: none;
    border-radius: 4px;
    font-size: 20px;
    color: aliceblue;
    



}

